@media screen and (max-width: 780px) {
  body {
    background-image: url("/assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background: position 0;
    background-size:contain;
    position: relative;
    align-items: normal;
  }

  .container {
    width: 90%;
    flex-direction: column;
    margin-top: 26%;
    height: fit-content;
    position: relative;
    padding-bottom: 7%;
    margin-bottom: 30%;
  }
  .section-heading {
    font-size: 26px;
  }
  .sidebar {
    height: 0;
  }

  .bg-sidebar-desktop {
    display: none;
  }
  .step-title-container {
    display: none;
  }
  .steps-container {
    position: absolute;
    top: -80px;
    left: 10%;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    column-gap: 20px;
  }
  .button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 5%;
  }

  .plans {
    flex-direction: column;
    row-gap: 12px;
  }
  .plans label {
    width: 100%;
  }
  .plan {
    flex-direction: row;
    column-gap: 20px;
  }
  .thank-you {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .add-ons-options-container input {
    left: 10px;
  }
  .service-name-container {
    margin-left: 10px;
  }
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
  }
  .plan-duration-container {
    margin-top: -10px;
  }
  .service-price {
    margin-left: 15px;
  }
}
