* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(217, 100%, 97%);
  font-weight: 100;
  font-family: "Ubuntu", sans-serif;
  color: hsl(213, 96%, 18%);
}
.container {
  width: 60%;
  height: 70%;
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  display: flex;
}
.sidebar {
  height: 100%;
  position: relative;
}
.sidebar img {
  height: 100%;
}
.bg-sidebar-mobile {
  display: none;
}
.circle {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.active-circle {
  color: hsl(213, 96%, 18%);
  background-color: #bde1ff;
  border: none;
}
.steps-container {
  position: absolute;
  top: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.step-title-container {
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.step-title {
  font-weight: 700;
}
.step-number {
  font-weight: 500;
  color: rgb(189, 184, 184);
  font-size: 14px;
}
.step {
  display: flex;
  column-gap: 25px;
  align-items: center;
}

.right-side-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 12% 2%;
}
.heading-content-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.personal-info form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
}
.label-input-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
input {
  padding: 10px;
}
.common-text {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
}
.small-font {
  font-size: 14px;
}
.paragraph {
  font-size: 16px;
}
.service-price {
  font-size: 14px;
}
.personal-info input {
  height: 40px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 8px;
}
.next-button {
  border: none;
  background-color: hsl(213, 96%, 18%);
  color: white;
  height: 50px;
  border-radius: 8px;
  width: 110px;
  font-weight: 500;
  font-size: 16px;
}
.next-button:hover {
  background-color: hsl(213, 77%, 33%);
}
.personal-info .next-button {
  align-self: flex-end;
}
.label-input-container label {
  display: flex;
  justify-content: space-between;
}
.alert-message-1,
.alert-message-2,
.alert-message-3 {
  color: hsl(354, 84%, 57%);
  margin-left: 8px;
  font-size: 14px;
}

.plans {
  display: flex;
  justify-content: space-between;
}
.plans label {
  border: 1px solid hsl(229, 24%, 87%);
  width: calc(33.33% - 10px);
  padding: 3%;
  border-radius: 8px;
}
.plan {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.plan-details {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.plan-duration-container {
  height: 50px;
  border-radius: 10px;
  background-color: hsl(217, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.duration {
  font-weight: 500;
  color: hsl(231, 11%, 63%);
}
.duration-active {
  color: hsl(213, 96%, 18%);
}
.toggle-button {
  background-color: hsl(213, 96%, 18%);
  width: 40px;
  height: 22px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.slider {
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin: 5px;
}
.slider-on-right {
  margin-left: 21px;
}
.service-name,
.plan-name,
.plan-price {
  font-weight: 700;
}
label:hover {
  border-color: hsl(243, 100%, 62%);
}
.plan img {
  width: 50px;
}
.plans input[type="radio"] {
  display: none;
}
.plans input:checked + label {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
}
.back-button {
  border: none;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
  color: hsl(231, 11%, 63%);
}
.back-button:hover {
  color: hsl(213, 96%, 18%);
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.summary .next-button {
  background-color: hsl(243, 100%, 62%);
}
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  text-align: center;
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
}
.thank-you img {
  margin-bottom: 15px;
}
.add-ons-options-container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.add-ons-options-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid hsl(229, 24%, 87%);
  height: 90px;
  border-radius: 10px;
  padding: 20px;
  padding-left: 35px;
}
.add-ons-options-container label:hover {
  border-color: hsl(243, 100%, 62%);
}
input[type="checkbox"]:checked + label {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(243, 100%, 62%);
}
.service-container {
  position: relative;
}
.add-ons-options-container input {
  position: absolute;
  left: 20px;
  top: 35%;
}
.service-name-container {
  margin-left: 30px;
}
.service-name {
  margin-bottom: 8px;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary-item-add-ons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.selections-container {
  background-color: hsl(217, 100%, 97%);
  padding: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
hr {
  border: none;
  background-color: hsl(229, 24%, 87%);
  height: 1px;
  width: 100%;
}
.amount-container .summary-item {
  padding: 5%;
  margin-top: 10px;
}
.change-plan-button {
  margin-top: 5px;
  text-decoration: underline;
}
.summary-text {
  color: hsl(231, 11%, 63%);
}
.add-ons-selections-container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.total-price {
  color: hsl(243, 100%, 62%);
  font-size: 22px;
  font-weight: 700;
}
.hidden {
  display: none;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 80%;
  }
  .right-side-container {
    padding-left: 8%;
    padding-right: 8%;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    width: 90%;
  }
  .right-side-container {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (max-height: 900px) {
  .container {
    height: 80%;
  }
}
@media screen and (max-height: 750px) {
  .container {
    height: 90%;
  }
}
@media screen and (max-height: 680px) {
  .container {
    height: 600px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  body {
    height: auto;
  }
}
